$BgColor: #fff;
$header-color-bg-second: #49935a;
$second-color-bg: #2a6757;
$header-color-bg: #ffffff;
$header-color-bg-first: #2E3F56FF;
$line-bg: #22644d;
$li-bg: #25574a;
$li-bg-hover: #1a4d45;
$black: #3b3b3b;
$gray: rgba(220, 220, 220, 0.86);
$white: #efefef;
$var-width-column: max(20%, 200px);
// ----------------------- COLOR ------------------------
$ul-color: #fff;
$button-color: #fff;
$link-color: #fff;

$header-menu-color: #da7997;
// ----------------------- COLOR-HOVER ------------------------
$text-ul-hv-color: #fff;
$text-link-hv-color: #fff;
$link-color-hv: #fff;
$header-menu-color-hv: #257393;
// ----------------------- TEXT-COLOR ------------------------
$text-search-color: #ff4848;
$text-logo-color: #ff3434;
$text-link-color: #854141;
$text-header-color: #ff2b2b;
$text-primary-color: #ff7777;

$text-secondary-color: #56d7de;
$text-button-color: #fff;



$height-item-header: 55px;




