$BgColor: #fff;
$header-color-bg-second: #fff;
$black: #3d3d3d;
// ----------------------- COLOR ------------------------
$ul-color: #fff;
$button-color: #fff;
$link-color: #fff;
$header-color-bg: #315fcb;
$header-menu-color: #da7997;
// ----------------------- COLOR-HOVER ------------------------
$text-ul-hv-color: #fff;
$text-link-hv-color: #fff;
$link-color-hv: #fff;
$header-menu-color-hv: #257393;
// ----------------------- TEXT-COLOR ------------------------
$text-search-color: #ff4848;
$text-logo-color: #ff3434;
$text-link-color: #854141;
$text-header-color: #ff2b2b;
$text-primary-color: #ff7777;
$text-secondary-color: #56d7de;
$text-button-color: #fff;



$height-item-header: 55px;




