<div class="main-content">
  <div class="main-content-view">
    <div class="width">
      <div class="color">
        <div class="content-footer">
          <div class="text-content">
            <p class="self-treatment">
              SELF-MEDICATION CAN BE HARMFUL TO YOUR HEALTH, Consult your doctor before using the drug
            </p>
          </div>
          <div class="row-content">
            <div class="column">

            </div>
            <div class="column">
              <p class="header-p"> About Drugs Finder</p>
              <div class="line"></div>
              <ul>
                <li>
                  <p>
                    Drugs Finder – це безкоштовна облікова пошукова система
                    ліків і медикаментів з різномантінших сайтів.
                  </p>

                </li>
                <li>
                  <p>
                    Drugs Finder – это бесплатная учетная поисковая система
                    лекарств и медикаментов с разнообразных сайтов.
                  </p>

                </li>
                <li>
                  <p>
                    Drugs Finder is a free account search engine
                    medicines and medicines from a variety of sites.
                  </p>
                </li>
              </ul>
              <p class="header-p"> Contact </p>
              <div class="line"></div>
              <ul>
                <li>
                  Address: c.Kiev, Drugs Shop prospect Valeria Labanosova 666
                </li>
                <li>
                  Number: +380 969 837 826
                </li>
                <li>
                  Email: DrugShop-Finder@gmail.com
                </li>
              </ul>
            </div>
            <div class="column contact" id="contact">
              <div>
                <p class="header-p"> Information</p>
                <div class="line"></div>
                <ul class="information">
                  <li>
                    About us
                  </li>
                  <li>
                    Contact us
                  </li>
                  <li>
                    Terms and conditions
                  </li>
                  <li>
                    Condom policy
                  </li>
                  <li>
                    Delivery and payment
                  </li>
                </ul>
              </div>
              <div>
                <p class="header-p"> Messengers</p>
                <div class="line"></div>
                <ul class="messengers">
                  <li class="messenger">
                    <i class="fa-brands fa-twitter mes"></i>
                  </li>
                  <li class="messenger">
                    <i class="fa-brands fa-telegram mes"></i>
                  </li>
                  <li class="messenger">
                    <i class="fa-brands fa-facebook mes"></i>
                  </li>
                  <li class="messenger">
                    <i class="fa-brands fa-facebook-messenger mes"></i>
                  </li>
                  <li class="messenger">
                    <i class="fa-brands fa-whatsapp mes"></i>
                  </li>
                </ul>
                <ul class="messengers">
                  <div class="button button-support">
                    <p> Developer support</p>
                    <i class="fa-solid fa-coins "></i>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="footer">
    <div class="text-content">
      <p>
        All rights reserved. ©2022 The Drugs-Finder.ua Code DERYPO 43631965.Design Author: Drugs Finder
      </p>
    </div>
    <div class="text-content">
      <p>
        Organization of search and accounting of medicines in the pharmacy Drugs-Finder.ua.
      </p>
    </div>
  </div>
</div>
