.flex-item {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: row;
}
.CONTENT{
  padding: 5px 2px;
}
.menu {
  text-align: center;
  padding: 0 10px;
}

.item-content {
  padding: 2px 5px 2px;

}
.header-item:not(.language){
  margin: 0 5px;
  @extend .CONTENT;
}

.header-content{
  @extend .flex-item;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}


