.search-block {
  width: 50%;
  padding: 0 5px;

  #header-search {
    width: max(85% ,250px);
    padding-left: 40px;
    height: 40px;
  }

  #search-button {
    text-align: center;
    margin-right: 5px;
    padding: 3px 5px;
    width: max(15% ,50px);
    border: 1px solid $black;
    height: 40px;
    background-color: $header-color-bg;
    border: 5px/7px;
  }

}

