<div class="main-content">
  <div class="main-content-view">
    <div class="width">
      <div class="header-catalog">
        <div class="content-text">
          <div class="content-text-intro">
            <div class="logo-left">
              <div class="img-content">
                <img src="/assets/LogotypeDrugsFinder.png" alt="logotype" class="img-item white" height="100">
              </div>
            </div>
            <div class="text-right">
              <div class="vertical-line">

              </div>
              <div>
                <h2 id="header-intro">
                  Welcome to DrugsFinder!
                </h2>
                <p>
                  DrugsFinder is a search engine of drugs and their advanced purchase
                </p>
                <p class="p2">
                  Here you can view the product visibility in pharmacies, discounts and manufacturer.
                  Continuous data update
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
