@import "sass/fonts";
@import "sass/varible";
@import "sass/normalize";
@import "sass/Component/menu-component";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

p.price::after {
  content: ' ₴';
}
.click{
  user-select: none;
  cursor: pointer;
}
.img-content {
  padding: 2px;

  .img-item {
    display: block;
    object-fit: cover;
  }
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-content-view {
  display: flex;
  justify-content: center;
}

.main-content-view .width {
  width: 80%;
  margin: 0 15px;
}
ul.grid-items-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 25vmax), 1fr));
  border-left: 1px solid $gray;
  border-top: 1px solid $gray;
}
ul.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;

  li {
    border: 6px solid $header-color-bg-second;
    background-color: $header-color-bg-second;
    user-select: none;
    padding: 2px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50px;
    width: 20px;
    aspect-ratio: 1/1;
    text-align: center;

    &:hover {
      background-color: white;
    }
  }

  li.select {
    background-color: $header-color-bg-first;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
    border: 8px solid $header-color-bg-first;

    &:hover {
      background-color: $header-color-bg-second;
    }
  }
}
div.header-catalog {
  background-color: $header-color-bg-second;
  padding: 10px 5px;
  margin-top: 40px;
  .content-text {
    margin: 0 25px;
    .content-text-item {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    h2.name-catalogue {
      text-transform: capitalize;
      font-weight: lighter;
      color: #e5e5e5;
      font-size: max(1.4vmax, 14px);
    }
  }
}


@media screen and (max-width: 1200px) {
  .main-content-view .width {
    width: 100%;
  }
}
